<% layout('/layouts/default.html', {title: 'sys_tiaoli_order管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('sys_tiaoli_order管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('sys:sysTiaoliOrder:edit')){ %>
					<a href="${ctx}/sys/sysTiaoliOrder/form" class="btn btn-default btnTool" title="${text('新增sys_tiaoli_order')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${sysTiaoliOrder}" action="${ctx}/sys/sysTiaoliOrder/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('come_cost')}：</label>
					<div class="control-inline">
						<#form:input path="comeCost" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('count')}：</label>
					<div class="control-inline">
						<#form:input path="count" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('del_flag')}：</label>
					<div class="control-inline">
						<#form:input path="delFlag" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('docid')}：</label>
					<div class="control-inline">
						<#form:input path="docid" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('order_no')}：</label>
					<div class="control-inline">
						<#form:input path="orderNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('order_status')}：</label>
					<div class="control-inline">
						<#form:input path="orderStatus" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('out_trade_no')}：</label>
					<div class="control-inline">
						<#form:input path="outTradeNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('pay_channel')}：</label>
					<div class="control-inline">
						<#form:input path="payChannel" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('pay_date')}：</label>
					<div class="control-inline">
						<#form:input path="payDate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('remarks')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('total_price')}：</label>
					<div class="control-inline">
						<#form:input path="totalPrice" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('trade_no')}：</label>
					<div class="control-inline">
						<#form:input path="tradeNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('userid')}：</label>
					<div class="control-inline">
						<#form:input path="userid" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("调理价格")}', name:'comeCost', index:'a.come_cost', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sys/sysTiaoliOrder/form?id='+row.id+'" class="btnList" data-title="${text("编辑sys_tiaoli_order")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("数量")}', name:'count', index:'a.count', width:150, align:"left"},
		{header:'${text("调理人姓名")}', name:'sysUserInfo.nikeName',  width:150, align:"left"},
		{header:'${text("是否删除")}', name:'delFlag', index:'a.del_flag', width:150, align:"left"},
		{header:'${text("调理医生姓名")}', name:'sysUserInfoDoc.nikeName', index:'', width:150, align:"left"},
		{header:'${text("订单号")}', name:'orderNo', index:'a.order_no', width:150, align:"left"},
		{header:'${text("订单状态")}', name:'orderStatus', index:'a.order_status', width:150, align:"left", formatter: function(val, obj, row, act){
			var val_ = '';
			/*  0未付款 1已付款, 2已发货,3已收货,-2发货出现问题,-3收货出现问题,4已评价',  */
			switch(val) {
			case '0':
				val_ = '未支付';
			  	break;
			case '1':
				val_ = '已付款';
			 	break;
			case '3':
				val_ = '已收货';
				break;
			case '4':
				val_ = '已评价';
				break;
			default:
			 	break
			}
			return val_;
		}},
		{header:'${text("支付宝顶动感好")}', name:'outTradeNo', index:'a.out_trade_no', width:150, align:"left"},
		{header:'${text("支付类型")}', name:'payChannel', index:'a.pay_channel', width:150, align:"left"},
		{header:'${text("支付日期")}', name:'payDate', index:'a.pay_date', width:150, align:"center"},
		{header:'${text("remarks")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("总价")}', name:'totalPrice', index:'a.total_price', width:150, align:"left"},
		{header:'${text("流水号")}', name:'tradeNo', index:'a.trade_no', width:150, align:"left"},
		{header:'${text("更新日期")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("userid")}', name:'userid', index:'a.userid', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('sys:sysTiaoliOrder:edit')){ %>
				actions.push('<a href="${ctx}/sys/sysTiaoliOrder/form?id='+row.id+'" class="btnList" title="${text("编辑sys_tiaoli_order")}"><i class="glyphicon glyphicon-search"></i></a>&nbsp;');
				/* actions.push('<a href="${ctx}/sys/sysTiaoliOrder/delete?id='+row.id+'" class="btnList" title="${text("删除sys_tiaoli_order")}" data-confirm="${text("确认要删除该sys_tiaoli_order吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;'); */
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>