<% layout('/layouts/default.html', {title: '调理订单管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(sysTiaoliOrder.isNewRecord ? '新增sys_tiaoli_order' : '编辑sys_tiaoli_order')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${sysTiaoliOrder}" action="${ctx}/sys/sysTiaoliOrder/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('调理医生姓名')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('调理医生姓名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input name="nickName" value="${sysTiaoliOrder.sysUserInfoDoc.nikeName!''}" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('调理用户')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input name="nickNames" value="${sysTiaoliOrder.sysUserInfo.nikeName!''}" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('调理单价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="comeCost" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="count" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否删除')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="delFlag" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('订单编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orderNo" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							<% var orderStatusList=[{"value":"0",name:"未支付"},{"value":"1","name":"已付款"},{"value":"2","name":"已发货"},{"value":"3","name":"已收获"}]; %>
								<span class="required hide">*</span> ${text('订单状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select disabled="true" name="orderStatus"  value="${sysTiaoliOrder.orderStatus!0}" items="${orderStatusList}" 
								itemLabel="name" itemValue="value" class="form-control required"  /> 
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('第三方订单编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="outTradeNo" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('支付类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="payChannel" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('支付日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="payDate" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="totalPrice" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('支付宝的回调订单号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tradeNo" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('userid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userid" maxlength="64" class="form-control" readonly="true" disabled="true"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('sys:sysTiaoliOrder:edit')){ %>
							<!-- <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp; -->
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>